@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<body>

    <h1>Welcome to Luminary Lamps</h1>
    <img src="images/Lamp.jpg" alt=" Lamp ">

<style>

        body {
            background-color: #B2FF66;
            opacity: 100%;
        }
    h1{
        text-align: center;
        color: purple;
            font-family: cursive;
        }
        img{
           
            height: 500px;
            padding-left: 150px;
        }


</style>
</body>